@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,500;1,900&display=swap');


.footer-container-en{
    background: #6654A4;
    padding: 80px 122px 55px 122px !important;
margin-top: 130px;

}

.footer-container-en ul{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: white;
}

.footer-container-en ul li a{
     font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    
    /* or 244% */
    
    color: #FFFFFF;


}

.footer-container-en a{
    text-decoration: none;
}

.copy-right-footer{
    margin-top: 80px;
    text-align: center;
        flex-direction: column-reverse;
}
.copy-right-footer ul{
    float:right;
}
.copy-right-footer ul li{
   display: inline-block;
   margin-right: 20px;
}

.copy-right-footer ul li:first-child{
    margin-left: 20px;
}
.copy-right-footer footer{
     font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #FFFFFF;
}


@media screen and (max-width:768px){
    .footer-container-en {
        padding: 10% 5% 5% 5% !important;

    }
    .footer-container-en ul{
        
    font-size: 14px;
    line-height: 21px;
    
    }

    .footer-logo{
        text-align: center;
        margin-bottom: 4rem;
    }

    .copy-right-footer{
        text-align: left;
    }

.copy-right-footer ul li {
    
    margin-right: 7px;
}

.footer-container-en ul {
   
    padding: 0;
}

}
.copy-right-footer ul{
    float:left;
}