@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body{
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
}


.Rectangle{
    position: absolute;
    top: -210px;
    right: -107px;
    z-index: -2;
}
.Rectangle-ar{
    position: absolute;
    top: -210px;
    right: -185px;
    z-index: -2;

}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

}
nav ul li{
    margin-right: 20px;
    
}

.arabic-nav{
    align-items: center;
}

.language_en{
    border-right: 1px solid #494B52;
    padding: 14px 20px 13px 20px;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    
}
.navbar{
    padding: 31px 120px;

}
.navbar-nav .nav-link {
    margin-right: 25px;
    font-family: 'Tajawal', sans-serif;
    
    font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
text-align: center;
letter-spacing: 0.045em;

/* Font color */
color: #494B52;
    

}
.navbar-nav .nav-link:hover,.navbar-nav .nav-link:hover:active{
    color: #494B52;
}

/* home page css */

.slider-section{
    padding-top: 140px;
}

.slider-section{
    padding-left: 40px;
}

.slider-section h1{
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #6654A4;
}
.slider-section p{ 
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #656668;
    margin-top: 36px;
    margin-bottom: 36px;
    max-width: 70%;

}

.mob-responsive-1, .mob-responsive-2{
    display: none;
}
.ar-carousel-inner .carousel-indicators{
    bottom: -126px;
}

.carousel-control-prev {
    left: -79px;
}

.carousel-control-next {
    right: -71px;
}
.ar-carousel-inner{
    padding: 0 5rem;
}

.slider-section a{
    font-family: 'Tajawal', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;

/* identical to box height, or 187% */
letter-spacing: 0.05em;
text-decoration-line: underline;

/* purple */
color: #6654A4;

}

.slider-section .text_ar{
    text-align: right;
}


.section1{
    position: relative;
    text-align: center;
}
.dot1{
    position: absolute;
    top: -17px;
    left: 176px;
    z-index: -1;
}

.dot1-ar{
    position: absolute;
    top: -17px;
    left: 70px;
    z-index: -1;
}

.dot2_1{
    position: absolute;
    bottom: 0;
    left: 93px;
    z-index: -1;
}
.dot2_1-ar{
    position: absolute;
    bottom: -10px;
    left: 41px;
    z-index: -1;

}

.dot2_2{
    position: absolute;
    top: -19px;
    right: 93px;
    z-index: -1;
}
.dot2_2-ar{
    position: absolute;
    top: -27px;
    right: 48px;
    z-index: -1;
}
.carousel-inner {
overflow: visible;
/* overflow-x: hidden; */
}

.carousel-indicators li {
   
    background-color: #E1DEEF;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active{
    background-color: #6654A4;
}

.carousel-indicators{
    bottom: -107px;
} 
.section2{
    padding-top: 13.5rem;
}

.section2-right img{
    width: 90%;
    float: right;
}

.section2-left{
    text-align: center;
} 

.section2-left-ar h2{
    font-family: 'Tajawal', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 48px;
text-align: right;

/* purple */

color: #6654A4;
}
.section2-left-ar p{
    font-family: 'Tajawal', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #656668;
margin-top: 16px;
margin-bottom: 51px;
text-align: right;
}


.section3{
    padding-top: 80px;
    align-items: center;
}

.section3 .ar-text-container{
    padding-left: 0;
    padding-right: 54px;
}
.section3 .text-ar{
    margin-right: 28px;
    max-width: 60%;
    text-align: right;
}

.section3 ul{
    list-style-type: none;
    padding: 0;
    margin:0;
padding-left: 2rem;
}

.section3 ul li{
    margin-bottom: 35px;
}

.section3 .text h5{
    font-family: 'Tajawal', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #6654A4;
}

.section3 .text p{
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #656668;
    margin-top: 10px;
}

.section3 .right-column{
    padding-left: 5rem;
}

.section3 .shape3{
    position: absolute;
    left: -19%;
    z-index: -1;

}

.section3 .mob3{
    margin-left: -122px;
    margin-top: 54px;
}

.section4-heading{
    margin-top: 55px;
}
.section4-heading h2{
    font-family: 'Tajawal', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #6654A4;
text-align: center;
}

.section4-heading .sub-heading{
    font-family: 'Tajawal', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #656668;
text-align: center;

}

.section4{
    margin-top: 60px;
}

.section4 .icon{
    width: 45px;
    height: 45px;
margin: 0 auto;
}

.section4 .steps:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -30px;
    left: 46.5%;
    background-color: #6654A4;
    border-radius: 100%;
}

.section4{
    position: relative;
}

.section4 .bar{
    background: #E6E2F4;
    border-radius: 131px;
    height: 15px;
    width: 98%;
    left: 13px;
    position: absolute;
    top: -30px;
}
.section4 h5{
    font-family: 'Tajawal', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 0px;
text-align: center;
color: #6654A4;
margin-top: 29px;
}

.section4 p{
    font-family: 'Tajawal', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* margin-top: 30px; */
/* or 162% */
max-width: 80%;
margin: 30px auto 0 auto;
text-align: center;

/* Subtitles */

color: #656668;
}
.section5-heading{
    margin-top: 154px;
    margin-bottom: 70px;
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #6654A4;
}

.section5{
    align-items: center;
}
.section5 .partner-logo{
  text-align: center;
}

.section5 .partner-logo img{
    width: 70%;
    height: auto;
    object-fit: contain;
}

.carousel-control-next-icon{
    background-image : url('../asset/right-arrow.svg');
}
.carousel-control-prev-icon{
  background-image : url('../asset/left-arrow.svg');
}

.section2-left-ar ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.section2-left-ar ul li {
    margin-left: 10px;
    margin-bottom: 15px;
}


@media screen and (min-width:769px) and (max-width:1400px){
    .section2 .button2 {
        margin-left: 0;
        margin-top: 10px;
    }

   

    /* .section2-left ul li{
        margin-right: 10px;
    
    }

    .section2-left p{
        margin-top: 0;
        margin-bottom: 0
        
    } */
    

   
}

@media screen and (max-width:768px){
    .navbar {
        padding: 5%;
    }
    nav ul {
        display: none;
    }

    .container{
        overflow: hidden;
    }
    

    .language_en{
        border-left: none;
    }

    .section2 .button2 {
        margin-left: 0;
    }
    .section2-left-ar,.section2-right{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .section2-left-ar ul li{
        margin-right: 20px;
    
    }

    .section2-left-ar p{
        margin-top: 0;
        margin-bottom: 20px;
        
    }


.section2-right img {
    width: 100%;
    float: right;
    margin-top: 20px;
}

.section3 .col-md-6 {
    max-width: 100%;
        flex: 0 0 100%;
}

.section3 .mob3 {
    margin-left: 0px;
  
}

.section3 .right-column {
    padding-left: 0;
}

.carousel-inner {
    overflow: hidden;
}

.slider-section {
    padding-left: 0;
}
}

@media screen and (max-width:767px){

.mob-responsive-1, .mob-responsive-2{
    display: block;
    margin: 0 auto;
}

.slide1-mob, .slide2-mob{
    display: none;
}

.slider-section,.section2,.section3,.section4-heading,.section5-heading{

    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
}
.language_en{
    
        border-right: none;
}

.slider-section{
    padding-bottom: 40px;
}
.slider-section h1 {
    font-size: 30px;
    line-height: 39px;
}

.carousel-indicators {
    bottom: -26px;
}

.ar-carousel-inner {
    padding: 0 0;
}

.slider-section p {

    max-width: 100%;
}

.steps{
    margin-bottom: 4rem;
}

.section1{
margin-top: 3rem;
}

.Rectangle,.dot1-ar,.dot2_1-ar,.dot2_2-ar,.shape3,.steps:before,
 .bar,.Rectangle-ar{
    
    display: none;
}

.section2-left-ar h2 , .section2-left-ar p{
text-align: center;
}

.section2-left-ar ul li img{
    width: 95%;
}
.section3 .mob3 {
    margin-left: 0;
    width: 97%;
}

.section3 .ar-text-container {
    padding-left: 0;
    padding-right: 0;
}

.steps:before{
    display: none;
}

.section5 .partner-logo img {
    width: 46%;
    margin-bottom: 60px;

}

}

